
  @font-face { src: url('../fonts/AntDesign.ttf') format('truetype'); font-family: AntDesign;  }
  @font-face { src: url('../fonts/MaterialIcons.ttf') format('truetype'); font-family: MaterialIcons;  }
  @font-face { src: url('../fonts/FontAwesome5_Brands.ttf') format('truetype'); font-family: FontAwesome5_Brands;  }
  @font-face { src: url('../fonts/FontAwesome5_Regular.ttf') format('truetype'); font-family: FontAwesome5_Regular;  }
  @font-face { src: url('../fonts/FontAwesome5_Solid.ttf') format('truetype'); font-family: FontAwesome5_Solid;  }
  
  @font-face { font-family: 'IRANSansWeb'; src: url('../fonts/IRANSansWeb.ttf') format('truetype');}
  @font-face { font-family: 'IRANSansWeb-Light'; src: url('../fonts/IRANSansWeb_Light.ttf') format('truetype');}
  @font-face { font-family: 'IRANSansWeb-Bold'; src: url('../fonts/IRANSansWeb_Bold.ttf') format('truetype');}
  @font-face { font-family: 'B Baran Regular'; src: url('../fonts/B Baran Regular.ttf') format('truetype');}
  @font-face { font-family: 'Yekan Bakh Regular'; src: url('../fonts/Yekan Bakh Regular.ttf') format('truetype');}
